{% extends "base.html" %}

{% block content %}
<a class="a-unstyled" href="{% url 'home' %}">
    <h2>Asymmetric-key</h2>
</a>

<div style="height: 50px;"></div>

<div id="chatbox">
    {% for message in request.session.history %}
        <div class="justify-content-left row">
            <b>{{ message.user|title }}: &#160;</b>
            <p id="cipher{{ forloop.counter }}">{{ message.cipher }}</p>
            <p id="plain{{ forloop.counter }}">{{ message.plain }}</p>
        </div>
    {% endfor %}
</div>

<div class="justify-content-center row">
    <div class="col-sm-6">
        <h4>Alice</h4>
        <form class="form-horizontal" action="{% url 'asymmetric' alg=alg %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user" value="Alice">
            <input type="hidden" name="action" id="action1" value="{{ action }}">
            <div class="input-group">
                <input type="text" name="msg" class="form-control" maxlength="500" placeholder="Message from Alice">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-outline-primary">Send</button>
                </div>
            </div>
        </form>
        <div class="form-group justify-content-center row" style="margin-top: 50px;">
            <label>PK</label>
            <div class="col-sm-8">
                <input class="form-control form-control-sm" value="{{ request.session.alice.pk.0 }}" readonly>
            </div>
        </div>
        <div class="form-group justify-content-center row">
            <label>SK</label>
            <div class="col-sm-8">
                <input class="form-control form-control-sm" value="{{ request.session.alice.sk.0 }}" readonly>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h4>Bob</h4>
        <form action="{% url 'asymmetric' alg=alg %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user" value="Bob">
            <input type="hidden" name="action" id="action2" value="{{ action }}">
            <div class="input-group">
                <input type="text" name="msg" class="form-control" maxlength="500" placeholder="Message from Bob">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-outline-primary">Send</button>
                </div>
            </div>
        </form>
        <div class="form-group justify-content-center row" style="margin-top: 50px;">
            <label>PK</label>
            <div class="col-sm-8">
                <input class="form-control form-control-sm" value="{{ request.session.bob.pk.0 }}" readonly>
            </div>
        </div>
        <div class="form-group justify-content-center row">
            <label>SK</label>
            <div class="col-sm-8">
                <input class="form-control form-control-sm" value="{{ request.session.bob.sk.0 }}" readonly>
            </div>
        </div>
    </div>
</div>

<div class="justify-content-center row" style="margin-top: 20px;">
    <div class="col-sm-6">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button" id="encrypt" class="btn btn-primary" onclick="update(0)">Encrypt</button>
            <button type="button" id="decrypt" class="btn btn-outline-primary" onclick="update(1)">Decrypt</button>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="btn-group">
            <a type="button" class="btn btn-outline-primary" href="{% url 'asymmetric' alg=alg %}" autocomplete="off">Regenerate</a>
            <div class="btn-group" role="group">
                <button id="alg" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ alg|upper }}
                </button>
                <div class="dropdown-menu text-center" aria-labelledby="action">
                  <a class="dropdown-item" href="{% url 'asymmetric' alg='rsa' %}">RSA</a>
                  <!--<a class="dropdown-item" href="{% url 'asymmetric' alg='pgp' %}">PGP</a>-->
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    function update(action) {
        let cipher = document.querySelectorAll("*[id^='cipher']");
        let plain = document.querySelectorAll("*[id^='plain']");

        let encryptBtn = document.getElementById("encrypt");
        let decryptBtn = document.getElementById("decrypt");

        let action1 = document.getElementById("action1");
        let action2 = document.getElementById("action2");

        if (action === 0) {
            for (let i = 0; i < cipher.length; i++) {
                cipher[i].style.display = "inline";
                plain[i].style.display = "none";
            }

            encryptBtn.className = "btn btn-primary";
            decryptBtn.className = "btn btn-outline-primary";

            action1.value = "encrypt";
            action2.value = action1.value;
        } else {
            for (let i = 0; i < cipher.length; i++) {
                cipher[i].style.display = "none";
                plain[i].style.display = "inline";
            }

            encryptBtn.className = "btn btn-outline-primary";
            decryptBtn.className = "btn btn-primary";


            action1.value = "decrypt";
            action2.value = action1.value;
        }
    }

    if ("{{ action }}" === "decrypt") {
        update(1);
    } else {
        update(0);
    }
</script>
{% endblock %}
